
* {
  font-family: "Roboto Mono", monospace;
}
.background{
  /* border: 2px solid greenyellow; */
  margin-top: 15vh;
  background: url("../../Images//createPage.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.profile_box {
  height: 20vh;
}

.profile_picture {
  height: 30vh;
  width: 15vw;
  border-radius: 50%;
  margin: auto;
  background-color: aliceblue;
}

.profile_picture img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.details {
  margin-top: 10vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.details .name p {
  font-weight: 700;
  
}

.details div {
  margin: 10px 10px;

  }

.details input{
  padding: 10px 10px;
  padding-right: 10vh;


}
.details .wallet_address p {
  letter-spacing: 1.6px;
  font-weight: 800;
  color: grey;
}
.editButton{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .editButton button {
  /* margin-top: 120vh; */
  padding: 12px 40px;
  font-weight: 900;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #7873F5;
  color: white;
  margin: 1vh 5vh;
  /* padding: 0px 0px; */

  /* border: 2px solid red; */


}

.options {
  display: flex;
  justify-content: space-between;
  color: white;
   margin: auto;
   /* border: 2px solid rebeccapurple; */
   width: 90vw;
}

.option button{
  padding: 20px 20px;
  margin: 20px 20px;
  

}

 

.option:hover {
  color: blue;
  background-color: rgba(0, 0, 0, 0.1);
}

.myoptions {
  display: flex;
  flex-direction: column;
}

.myoptions button{
  margin: 20px ;
  padding: 10px 10px;
  background-color: #63849E;
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 23px;
  cursor: pointer;
  width: 20vw;


}


@media (min-width: 300px) and (max-width: 480px){
  .background{
    margin-top: 40vh;
  }
  .details{
  }
  .profile_picture {
    /* border: 2px solid red; */
    width: 50vw;
    text-align: center;
    margin: auto;
  }
  .details button{
    font-size: 0.8rem;
    font-weight: 900;
  }
  .options{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .myoptions button{
    width: 50vw;
    background-color: #24435C;
  }

  .editButton {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .editButton button{
      width: 50vw;
      
  }
}