
* {
  font-family: "Roboto Mono", monospace;
}
.background{
  /* border: 2px solid greenyellow; */
  margin-top: 100px;
  background: url("../../Images//createPage.png");
}
.profile_box {
  /* border: 2px solid red; */
  /* background-color: #1A2731; */
  opacity: 50%;
  /* z-index: -1; */
  /* margin-top: 105px; */
  /* paddion */
  /* width: 100%; */
  height: 150px;

  /* position: absolute; */
}

.profile_picture {
  /* border: 2px solid red; */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -8%;
  margin-left: 42%;
  background-color: aliceblue;
  z-index: 1;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.profile_picture img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.details {
  margin-top: 20px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.details .name p {
  font-weight: 700;
}

.details div {
  margin: 10px 10px;
}
.details .wallet_address p {
  letter-spacing: 1.6px;
  font-weight: 800;
  color: grey;
}
.details .editButton button {
  margin-top: 10px;
  padding: 15px 30px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  background-color: #7873F5;
  color: white;

}

.options {
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 120vh;
  color: white;
}

.option button{
  padding: 20px 20px;
  margin: 20px 20px;
}

 

.option:hover {
  color: blue;
  background-color: rgba(0, 0, 0, 0.1);
}

.myoptions {
  display: flex;
  flex-direction: column;
}

.myoptions button{
  margin: 20px ;
  padding: 10px 10px;
  background-color: #63849E;
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 23px;
  cursor: pointer;
}