*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outerbody{
    
    /* height: 100%; */
    /* background-color:	floralwhite; */
    /* background-color: rgb(170,219,30) !important; */

    /* border: 2px solid floralwhite; */
    /* position: relative; */
    background: url("../Images/BackGroundImage.png");
    
}
hr{
        margin-left: auto;
        margin-right: auto;
        border: 1px solid grey;
        /* color: white; */

}

.login_nav{
    /* border: 2px solid red; */
    background: url("../Images/BackGroundImage.png");

    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0%;
    color: white;
    /* background-image: linear-gradient(top, red, red 70%, transparent 70%, transparent 100%); */

}

.gradient{
    width: 160vh;
    height: 100px;
    margin: auto;
    border-bottom-left-radius: 50%;
    /* background-image: -webkit-linear-gradient( top , red 12%, red 5%, transparent 50%, transparent 150%) ; */
    /* border-bottom-right-radius: 50%; */
    border: none ;
    /* background: url('https://www.myweb3.club/static/media/background.a01ee447.png'); */
    background-size: cover;
    opacity: 0.6;


}

.login_nav .connect_button{
    /* border: 2px solid red; */
    width: 200px;
    margin-right: 80px;
    color: white;
}

.login_nav .logo{
    height: 90px;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}
.createButton{
  margin-left: 450px;
  color: white;

}

.createButton  button{
    width: 100%;
    padding: 13px 10px;
    border-radius: 5px;
    /* background-color: black; */
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* background: linear-gradient(#2B19FF, #AA60FA, #F62070); */
    /* color: black  ; */
    color: white;

    font-weight: 700;

    /* margin-right: 00px; */
}

.clubButton button{
  width: 100%;
  padding: 13px 10px;
  border-radius: 5px;
  /* background-color: black; */
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* background: linear-gradient(#2B19FF, #AA60FA, #F62070); */
  /* color: black  ; */
  color: white;

  font-weight: 700;

}

.clubButton{
  /* margin-left: 450px; */


}

.login_nav .connect_button button{
    width: 100%;
    padding: 13px 10px;
    border-radius: 5px;
    background-color: #1B3E5A;
    font-size: 18px;
    border: none;
    cursor: pointer;
    /* background-color: beige; */
    /* background: linear-gradient(#2B19FF, #AA60FA, #F62070); */
    color: white;
    font-weight: 700;

}

.login_nav .connect_button button:hover{
    background-color:rgb(170,219,30) ;

}



.main_login_page{
    /* border: 2px  solid; */
    height: 60vh;
    margin: auto;
    /* width: 80vh; */
    margin-top: 50px;
    border-radius: 20px;
    /* background-color: rgb(170,219,30) !important; */
    /* background-color:	floralwhite; */
}
.main_login_page .login_box .mainheading{
    font-size: 33px;
    margin-top: 100px;
    width: 160vh;
    text-transform: capitalize;
    text-align: center;
    /* border: 2px  solid; */
    padding: 20px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    /* height: 100px; */
    border-radius: 12px;
    border: none;
    /* opacity: 0.9; */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    /* font-family: fac; */
    /* text-align: justify; */
    
    

    
    
    

}
.mainheading h4{
    /* background: -webkit-linear-gradient(#00467f,#a5cc82); */
/*     
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  font-weight: 900;
  font-size: 25px;

}

.main_login_page .login_box{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.login_box .logo{
    width: 200px;
    height: 150px;
    /* border: 2px solid; */
    margin-top: 30px;

}
.login_box .connect_button{
    width: 200px;
    margin-top: 80px;

    /* background: linear-gradient(91.96deg,#4e48f2 17.52%,#7f5ae4 91.27%); */
}
.login_box .connect_button button{
    cursor: pointer;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    margin: 40px auto;
    color: white;
    /* font-family: fac; */
    word-spacing: 2px;
    letter-spacing: 1px;
    border: none;
    font-size: 20px;
    margin-top: -70px;
    font-weight: 700;
    
        /* background-color: black; */

   
}

.connect_button button:hover{
    background-color: 	ivory;
    /* color: black; */
    /* font-weight: 700; */
}

.logo img{
    height: 100%;
    width: 100%;
}




.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: blueviolet;
    opacity: 0.5;
    transform-origin: 0%;
  }

  .image{
      /* border: 2px solid; */
      margin-top: -20px;
      margin-bottom: 50px;

    }
  .image .img{
    margin: auto;
   height: 300px; 
   width: 400px; 

    /* height: 100px;
    width: 100px; */
  }

  .img img{
    height: 100%;
    width:100% ;
    border-radius:50% ;
  }




  .box {
    border-radius: 50%;
    background: var(--accent);
  }

  .built_on{
    text-align: center;
    margin-top: 60px;
    position: relative;
    color: rgb(82, 78, 78);
    font-size: medium;
    
  }

  .built_on img{
    height: 30px;
    position: absolute;
    top: -5px;
    right: 460px;
    /* right: inherit; */
    cursor: pointer;

  }

  .exploreButton{
    width: fit-content;
    /* border: 2px solid red; */
    margin:auto ;
  }
  

  .exploreButton button{
    /* border: 2px solid red; */
    
    width: fit-content;
    padding: 13px 10px;
    border-radius: 5px;
    background-color: #1B3E5A;
    font-size: 18px;
    /* border: none; */
    cursor: pointer;
    /* background-color: beige; */
    /* background: linear-gradient(#2B19FF, #AA60FA, #F62070); */
    color: white;
    font-weight: 700;
    margin: 0px auto;
    
  }

  .aboutWeb3Club{
    /* border: 2px solid red; */
    color: white;
    /* height: 300px; */
    padding: 30px 30px;

  }

  .heading{
    padding: 30px 20px;

  }
  .aboutWeb3Club .heading  h3{
    font-size: 40px;
    width: fit-content;
    margin: auto;
  }

  .aboutWeb3Club .text{
    width: 150vh;
    margin: auto;

  }
  .text p{
    width: fit-content;
      /* font-style: italic; */
      text-align: center;
      line-height: 30px;

  }


  .whyUseWeb3{
    /* margin-top: 100px; */
  }
  .whyUseWeb3 .heading{
    color: white;
    padding: 50px 40px;
    font-size: 40px;
    margin: 20px auto;
    width: fit-content;
  }

  .contents{
    margin-top: 100px;

    color: white;
    /* border: 2px solid red; */
    display: flex;
    padding: 40px 20px;

  }
  .box1 , .box2 , .box3{
    margin: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contents .text p {
    color: white;
    /* border: 2px solid red; */
    font-size: 18px;
    font-weight: 700;


  }

  .box2{
    margin-top: -100px;
  }

  .contents .image img{
    width: 380px;
    height: 250px;
    border-radius: 50%;

  }


  
  .instructions .image {
    display: flex;
    justify-content: space-between;
     
    /* border-radius: 50%; */
    
  }
  
  .inst1  , .inst2 , .inst3{
    display: flex;
    color: white;
    flex-direction: column;
    /* border: 2px solid red; */
    margin: 10px 10px;
    padding: 30px 10px;

  }
  .instructions .text{
    /* border: 2px solid red; */
    text-align: center;
    width: 500px;
    /* margin: auto; */
    font-weight: 700;
  }
  .inst1 .text{
    text-align: start;
  }
  .inst2 .text p{
    margin-left: 250px;

  }
  .inst3 .text p{
    margin-left: 60px;
  }
  .inst1 , .inst3{
    margin-left: 40vh;

  }

  .inst2{
    align-items: flex-end;
    margin-right: 40vh;
  }
  

  .howToGetStarted .heading{
    /* border: 2px solid red; */
    width: fit-content;
    margin: 50px auto;

  }
  .howToGetStarted .heading h4{
    font-size: 40px;
    color: white;
  }

  .extra{
    position: relative;
    z-index: 1;
    height: 70vh;

    color: white;

  }
  .extra .heading{
    margin: auto;
    width: fit-content;
    z-index: 2;
    font-size: 30px;
  }

  .extra .subheading{
    width: fit-content;
    margin: auto;
    font-weight: 800;
    
  }

  .extra .buttons {
    /* border: 2px solid red; */
    margin: 100px auto;
    display: flex;
    justify-content: space-around;


  }

  .buttons button{
    padding: 20px 40px;
    margin: 20px ;
    cursor: pointer;
    background-color: #1B3E5A;
    color: white;
    border: none;
    border-radius: 23px;
    font-weight: 800;
    font-size: 16px;
  }

  .extra .background{
    /* border: 2px solid red; */
    height: 70vh;
    width: 50%;
    background:url("../Images/extra.jpg");
    background-repeat: no-repeat;
    background-size: 100%  100vh;
    position: absolute;
    z-index: -1;
    opacity: 50%;
    margin: 0px 25%;
    /* border-radius-top: 30%; */
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }