.outerCreate{
    border: 1px solid transparent;
    background: url("../../Images/createPage.png");
    background-repeat: no-repeat;
    background-position: 100% ;
    background-size: cover;
    width: 100%;
}
.status{
  color: white;
  font-weight: 900;


}
.createbox{
    border: 2px solid #1d3e58;
    border-radius: 23px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:80vw;

    background-color: #082943;
    background: transparent;


}
.createbox .heading{
    font-size: 30px;
    text-align: left;
    width: 56vw;
    margin-left: -50px;
    margin-top: 40px;
    color: white;
}

.create_form{
    /* border: 2px solid red;    */
    /* width: 50rem; */
    display: flex;
    justify-content: center; 
}
.create_form div{
    margin: 30px 20px;

}

.create_form div input{
    padding: 10px 10px ;
    width: 56vw;
    font-weight: 700;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .file-input label {
    display: block;
    position: relative;
    width: 20vw;
    height: 7vh;
    border-radius: 12px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    margin-left: -20px;

  }

  
  .category p{
    margin: 15px 0px;
    font-weight: 800;
    font-size: 20px;
    color: white;
  }
  .category select{
    padding: 10px 10px;
    width: 13vw;
    cursor: pointer;
    border-radius: 1px;
    height: 6vh;

  }
  
  .create_button button{
    padding: 10px 20px;
    width:56vw;
    cursor: pointer;
    font-weight: 900;
    font-size: large;
    background-color: #7873f5;
    color: white;
    border: transparent;
    border-radius: 6px;
    
  }

  .clubDescription textarea {
    padding: 10px 10px;
    font-weight: 700;
    width: 56vw;

  }



  /* For Select MEnu */
  
  /* for select Menu */
