.club_box {
  border: 2px solid;
  padding-top: 115px;

  height: 100%;

  background: url("../../Images/createPage.png");
  background-repeat: no-repeat;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.club_info {
  width: 180vh;
  margin: 10px auto;
  padding: 30px 100px;
  display: flex;
  justify-content: space-around;
}
.categories_heading {
  padding: 0px 30px;
}
.category_list ul li {
  list-style: none;
  margin: 10px 10px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;

  width: 200px;
  padding: 10px 30px;
  color: white;
}

.category_list ul li:hover {
  background-color: black;
}

.categories_heading .heading {
  font-size: 22px;
  color: white;
}

.categories_information {
  width: 150vh;
  margin-left: 30px;
}

.information_box {
  min-height: 200px;
  width: 110vh;
  display: flex;
  padding: 20px 30px;
  background-color: white;
  margin: 10px;
}

.information_box .image_container img {
  height: 80px;
  width: 130px;
  margin-top: 10px;
}

.information_box .content_information {
  margin-left: 50px;
}

.content_information .heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.content_information .members {
  margin-top: 20px;
  font-size: 20px;
}
