.club_box {
  border: 2px solid;
  padding-top: 115px;

  height: 100%;
  background: url("../../Images/createPage.png");
  background-repeat: no-repeat;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.club_info {
  /* width: 98vw; */
  /* border: 2px solid red; */
  margin-top: 20vh;
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
}
.categories_heading {
  padding: 0px 1vw;
}
.category_list ul li {
  list-style: none;
  margin: 5vh 0vw;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
/* border: 2px solid red; */
  /* width: fit-content;  */
  padding: 10px 30px;
  color: white;
}

.category_list ul li:hover {
  background-color: black;
}

.categories_heading .heading {
  font-size: 1em;
  color: white;
}


.information_box {
  /* height:55vh; */
  width: 50vw;
  display: flex;
  padding: 5vh 2vw;
  background-color: white;
  /* border: 2px solid red; */
  align-items: center;
  margin: 2vh 0px;
  /* border: 2px solid lime; */
  /* flex-direction: column; */
}

.information_box .image_container img {
  height: 17vh;
  width:  10vw;
  margin-top: 10px;
}

.information_box .content_information {
  margin-left: 1vw;
  /* border: 2px solid red; */
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  
  
}

.content_information .heading {
  font-size: 2rem;
  /* margin-bottom: 10px; */
}

.content_information .members {
  margin-top: 20px;
  font-size: 1rem;
}
/*  */

.more_categories{
  display: none;
}

/* Media query starts here  */

@media (min-width: 300px) and (max-width: 480px){
  .information_box{
    width: auto;
    flex-direction: column;
  }
  
  .category_list{
    border: 2px solid purple;
    height: 50vh;
    overflow: hidden;
  }

  .club_info{
    /* border: 2px solid limegreen; */
    flex-direction: column;
  }
  .more_categories{
    display: block;
    padding: 2vh 5vw ;
    font-weight: bolder;
    cursor: pointer;
    margin: 2vh auto;

  }
  .increase_height{
    height:  100%;
  }

  .information_box .image_container img{
    width: 50vw;
    height: 25vh;
  }
  .categories_information{
    /* border: 2px solid rebeccapurple; */
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
    padding: 1vh 3vw;

  }
}